@using cvPageWeb.Models.Entity
@model List<TBL_EDUCATION>




@foreach (var item in Model)
{
    @*<li>
        <h5>@item.education_start_date_day.@item.education_start_date_month.@item.education_start_date_year-@item.education_finish_date_day.@item.education_finish_date_month.@item.education_finish_date_year</h5>
        <h4>@item.department</h4>
        <h4>@item.school</h4>
    </li>*@
}
