@using cvPageWeb.Models.Entity
@model List<TBL_ABILITY>




<br />


@foreach (var item in Model)
{
    string visibility = "";

    if (item.visible == "visible")
    {
        visibility = "Göster";
    }
    else if (item.visible == "hidden")
    {
        visibility = "Gizle";
    }



    <div class="card bg-light mb-12">
        <div class="card-header">@item.ability_name</div>
        <div class="card-body">
            @*<h5 class="card-title">Yetenek Seviyesi</h5>*@
            <p class="card-text">@item.ability_description</p>
            <p class="card-text"><b>Sıralama:</b> @item.placement, <b>Görünüm: </b>@visibility</p>

            <a href="/Edit/AbilityDelete?member_id=@item.member_id&&id=@item.id" class="btn btn-danger">Sil</a>
            <a href="/Edit/Update_Ability_Data/@item.id" class="btn btn-success">Düzenle</a>
        </div>
    </div>
    <div class="row">
        <br />
    </div>


}

