@using cvPageWeb.Models.Entity
@model List<TBL_CITY_LIST>


<div class="col-md-4">
    <label class="labels">Şehir</label><select class="form-control" name="city" id="city"  required>
    <option disabled selected> </option>
        @foreach (var item in Model)
        {
            <option>@item.location</option>
        }
    </select>
</div>
