
@{
    ViewBag.Title = "ReferenceEdit";
    Layout = "~/Views/Shared/EditLayout.cshtml";
}



<div class="col-md-12 border-right">
    <div class="p-3 py-5">

        <div class="row mt-3">
            <div class="col-md-12">
                <a href="/Cv/GeneratePDF/@Model.member_id" class="btn btn-primary profile-button">PDF Oluştur</a>
                <hr />
            </div>
        </div>
        <br />


        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Referans Bilgileriniz</h4>
        </div>

        @{
            string reference_visibility = "";

            if (Model.reference_visible == "visible")
            {
                reference_visibility = "Göster";
            }
            else
            {
                reference_visibility = "Gizle";
            }

        }

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h6> <b>@Model.reference_head </b> (@reference_visibility)</h6>
        </div>
        <!-- Trigger/Open The Modal -->
        <button class="btn btn-primary profile-button ml-auto" id="myBtn"><i class="fa fa-pencil"></i></button>


        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                @Html.Action("Header_Visibility_Reference_Data", "Edit", new { member_id = Model.member_id })
            </div>

        </div>



        @using (Html.BeginForm("Add_Reference_Data", "Edit", FormMethod.Get))
        {
            <div class="row mt-2">
                @Html.Action("Reference_Data", "Edit", new { member_id = Model.member_id })

            </div>

            <br />
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Yeni Referans Bilgisi Ekle</h4>
            </div>


            <div class="row mt-3">
                <div class="col-md-4"><label class="labels">Referans Adı</label><input type="text" class="form-control" placeholder="" value="" name="reference_name" maxlength="30" required></div>
                <div class="col-md-4"><label class="labels">Çalıştığı Firma</label><input type="text" class="form-control" placeholder="" value="" name="working_at" maxlength="30" required></div>
                <div class="col-md-4"><label class="labels">Görevi</label><input type="text" class="form-control" placeholder="" value="" name="title" maxlength="30" required></div>
            </div>

            <div class="row mt-3">
                <div class="col-md-4"><label class="labels">Telefon Numarası</label><input type="text" class="form-control" placeholder="" value="" name="ref_tel" maxlength="20"></div>
                <div class="col-md-4"><label class="labels">Mail Adresi</label><input type="email" class="form-control" placeholder="" value="" name="ref_mail" maxlength="30" required></div>
            </div>


            <div class="row mt-3">
                <div class="col-md-4"><label class="labels">CV Üzerinde Görünüm Sıralaması</label><input type="number" class="form-control" placeholder="3" value="" name="placement" required></div>

                <div class="col-md-4">
                    <label class="labels">Referans Görünürlük</label><select class="form-control" name="visible" id="visible">
                        <option value="visible">Göster</option>
                        <option value="hidden">Gizle</option>
                    </select>
                </div>
            </div>

            <input type="hidden" name="member_id" value="@Model.member_id" />
            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Ekle</button></div>
        }
    </div>
</div>
    </div>
</div>



